body{
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(61, 54, 54, 0.658),rgba(0,0,0,0.5)),url(/VSK2/progect/k2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.container{
    width: 80%;
    margin: auto;
}

.container{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    padding-left: 380px;
}
.menu > ul{
    list-style-type: none;    
    display: flex;
    margin: 0;
}

.menu > ul > li {
    margin-right: 90px;
}
.menu > ul > li a{
    text-decoration: none;
    padding-bottom: 4px;
    color: #ffffff;
    font-size: 17px;
}

.log{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.603);
    font-weight: bold; 
    margin-right: 20px; 
    transition: 0.5s ease;
}

.b{
    padding: 10px 25px;
    border-radius: 10px;
    background-color: rgb(44, 100, 118);
    color: rgb(255, 255, 255);
    border: none;
    margin-left: 10px;
    transition: background-color 0.5s ease, color 0.5s ease;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    font-size: 15px;

}
.b:hover{
    background-color: rgb(231, 231, 231);
    color: rgba(1, 1, 1, 0.566);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}



/* -----------------1---------------------- */
.text{ 
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text h1{
    text-shadow: 0 0 20px #00fffb, 0 0 40px #0081bc;
    font-size: 62px;
    font-weight: bold; 

}

.text p{
    margin: 10px 0 40px;
    font-size: 14px;
    columns: #fff;
}
.here{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 12px 34px;
    font-size-adjust: 13px;
    background: transparent ;
    position: relative;
    cursor: pointer;
}
.here:hover{
    border: 1px solid rgb(44, 100, 118);
    background: rgb(44, 100, 118);
    transition: 1s;   
}
/* -----------------2--------------------- */

.baner{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 50px 0 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.baner h1{
    font-weight: bold;
    margin-bottom: 5px;
    color: rgb(15, 46, 89);
}
.baner > p{
    font-size: 16px;
    margin-top: 5px;
    color: rgb(116, 116, 116);
    margin-bottom: 80px;
}

.row{
    display: flex;
    justify-content: space-between;
    width: 85%;
}
.col{
    background: #fff3f3;
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s ease;
    margin: 20px;
    text-align: center;

}
.col h3{
    font-weight: bold;
    color: rgb(32, 59, 96);
    padding-left: 5%;
}
.col p{
    font-size: 16px;
    color: rgb(125, 122, 122);
    padding-left: 5%;
    padding-right: 5%;
}

.col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
    transition-duration: 0.5s;
}
/* ------------------3----------------- */

.galery{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 23px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #cdced7;
}

.galery h2{
    font-weight: bold;
    color: rgb(15, 46, 89); 
    margin-bottom: 5px;
}
.galery p{
    font-size: 16px;
    margin-top: 5px;
    color: rgb(116, 116, 116);
    margin-top: 0;
}


.carousel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    margin-left: 60px;
    width: 90%;
}

.carousel img{
    border-radius: 13px;
}

/* -----------------4------------------ */

.frend{
   width: 100%;
   margin: auto;
   text-align: center;
   padding-top: 50px;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-color: #c4c9f2;
}

.frend h2{
    font-weight: bold;
    color: rgb(15, 46, 89);
    margin-bottom: 5px;
}
.frend p{
    font-size: 16px;
    margin-top: 5px;
    color: rgb(116, 116, 116);
    margin-top: 0;
    margin-bottom: 30px;
}
.frend h3{
    font-weight: 27px;
    color: rgb(0, 0, 0); 
}
.frend > .row{
    margin-left: 60px;
    padding-left: 100px;
}


.cal{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.cal img {
    width: 100%;
    border-radius: 12px;
    transition: transform 0.5s ease;
}
.cal img:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
    transition-duration: 0.6s;
    transform: scale(1.1);
}
.cal h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
    font-weight: bold;
}
.cal p{
    padding: 0;
}
/* ------------------5-------------- */

.test{
    width: 89%;
    margin: auto;
    text-align: center;
    padding-top: 50px ;
}

.test h1{
    font-weight: bold;
    color: rgb(15, 46, 89);
    margin-bottom: 5px;
}

.test > .row{
   margin: 50px 0 0 200px;
   width: 70%;
   height: 280px;
   display: flex;
   justify-content: center;
   gap: 10px;
}

.cul{
    flex-basis: 48%;
    border-radius: 10px;
    margin-bottom: 5%;
    background:#fff3f3;
    text-align: left;
    padding: 25px;
    cursor: pointer;
    display: flex;
    transition: transform 0.5s ease;
    box-shadow:  5px 2px 8px;
}

.cul p{
    padding: 0;
    margin: 0;
    margin-left: 10px;
    font-size: 16px;
    color: rgb(116, 116, 116);
    margin-bottom: 10px;
    margin-top: 10px;
}
.cul img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.cul h4{
    margin-top: 15px;
    text-align: left;
}
/* ---------------6--------------- */


.container{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.container h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
    color: rgb(15, 46, 89);
}
.food-con input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    margin:auto;
    padding: 7px;
    border-radius: 12px;
    border: 1px solid #7f7ed5;
}
.food-con button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    padding: 8px;
    width: 80px;
    border: none;
    background: rgb(15, 46, 89);
    color: #fff;
}
.food-con button:hover{
    background: #6050be;
    color: rgb(15, 46, 89);
}
#map{
    color: rgb(14, 193, 20);
    font-size: 19px;
    text-align: center;
}


.food-con ul{
    text-align: center;
}
.list{
    padding: 0;
}
.list li{
    width: auto;
    text-align: center;
    list-style-type:none ;
    padding: 7px;
    position: relative;
}
.bar{
    background: #7f7ed5;
    text-align: center;
    padding: 10px 0;
}
.bar{
    margin-top: 50px;
    color: white;
    margin: 0;
    font-size: 16px;
}

